.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20rem;
    background-image: linear-gradient(to top left, #6CACFF, #8DEBFF);
    margin: 1rem;
    border-radius: 25px;
    padding: .5rem;
    min-height: 20rem;
    transition: .5s;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: -0.1rem;
}

.cardcontent table, ul {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 1rem;
    list-style-type: disc;
}

.cardcontent td, li {
    font-size: 1rem;
}

.headline {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

.cardheadline {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.cardheadline:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.card:hover .cardheadline:after {
    width: 100%;
    left: 0;
}